@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Zen+Antique+Soft&display=swap');

*{
    font-family:  'Raleway', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: gainsboro;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrapper {
    width: 450px;
    border-radius: 16px;
    background: snow;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.3);
}

.form {
    padding: 25px 30px;
}

.form header {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
    text-align: center;
}