                                          {{!-- main.handlebars --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHATly</title>
  <script src="http://localhost:3001/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/secondary-styles.css">
</head>

<div class="topnav">
  {{#if loggedIn}}
    <a class="active" href="/index">CHATly</a>
    {{!-- <a class="#login" href="../../login">Login</a> --}}
    <a class="#logout" href="../../public/js/logout.js">Logout</a>
    {{else}}
   <a class="#create" href="../../index.html">Create Account</a>
    <a class="#login" href="/login">Login</a>
    {{/if}}
   {{!-- <a href="/views/login.handlebars">Login</a> --}}
  {{!-- <a href="signup.html">Signup</a> --}}
            {{!-- {{#if loggedIn}}
            <a href="index.html">Logout</a>
            <a href="/profile.html">About</a>
            {{else}}
            <a href="index.html">Home</a>
            <a href="/views/login.handlebars">Login</a>
            {{/if}} --}}
    </header>

<body>
  
    <main>
      {{{ body }}}
    </main>
  </div>
  <script src="/chat.js"></script>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>