<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHATly</title>
    <link rel="stylesheet" href="css/style2.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <ul class="nav-pills">
        <li><a href="/dashboard">Profile</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
      <div class="row">
        <div>
          <div>
            <div class="user-heading round">
              <a href="#">
                <img
                  src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
                  alt=""
                />
              </a>
              <h1>User Name</h1>
              <p>useremail@email.com</p>
              <p>username</p>
            </div>
          </div>
        </div>
        <div class="profile-info">
          <div>
            <div class="bio-graph-heading">
              About Me
            </div>
            <div class="bio-graph-info">
              <div class="row">
                <div class="bio-row">
                  <p><span>Birthday: </span></p>
                </div>
                <div class="bio-row">
                  <p><span>Favorite Animal: </span></p>
                </div>
                <div class="bio-row">
                  <p><span>Favorite Color: </span></p>
                </div>
                <div class="bio-row">
                  <p><span>Favorite Food: </span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
