<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHATly</title>
     <link rel="stylesheet" href="\css\secondary-styles.css">
  </head>

  <body>
      <!-- navigation -->
      <div class="topnav">
    <div class="nav-pills">
  <a class="active" href="/dashboard">Profile</a>
  <a href="/chat">Messages</a>
  <a href="/">Logout</a>
</div>
</div>
    <div class="container">
            <div class="user-heading round">
              <a href="#">
                <img
                  src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
                  alt=""
                />
              </a>
              <h1>User Name</h1>
              <p>useremail@email.com</p>
            </div>
          
        
        <div class="profile-info">
            <div class="bio-graph-heading">
              About Me
            </div>
            <div class="bio-graph-info">
              <div class="row">
                <div class="bio-row">
                  <p><span>Birthday: </span></p>
                </div>
                <div class="bio-row">
                  <p><span>Favorite Animal: </span></p>
                </div>
                <div class="bio-row">
                  <p><span>Favorite Color: </span></p>
                </div>
                <div class="bio-row">
                  <p><span>Favorite Food: </span></p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
  </html>
