<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CHATly</title>
  <link rel="stylesheet" href="\css\secondary-styles.css">
</head>

<body>
  <!-- navigation -->
  <div class="topnav">
  <a class="active" href="#home">CHATly</a>
  <a href="/dashboard">Profile</a>
  <a href="/chat">Messages</a>
  <a href="/">Logout</a>
</div>
  <div class="join-container">
    <main class="join-main">
      <div class="user-heading round">
        <a href="#">
          <img
            src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
            alt="" />
        </a>
        <h1 id="usernameProf"></h1>
        <p id="emailProf"></p>
      </div>


      <div class="profile-info">
        <div class="bio-graph-heading">
          About Me
        </div>
        <div class="bio-graph-info">
          <div class="row">
            <div class="bio-row">
              <p><span>Birthday: </span></p>
            </div>
            <div class="bio-row">
              <p><span>Favorite Animal: </span></p>
            </div>
            <div class="bio-row">
              <p><span>Favorite Color: </span></p>
            </div>
            <div class="bio-row">
              <p><span>Favorite Food: </span></p>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  <script src="/dashboard.js"></script>
</body>

</html>