<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>CHATly</title>
        <script src="https://cdn.jsdeliver.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
        <link rel="stylesheet" href="css/style.css">

    </head>
<body>
    <div class="wrapper">
        <section class="form signup">
            <header>Welcome to CHATly</header>
            <form action="#">
                <div class="nameInput">
                <div class="field">
                    <label>First Name</label>
                    <input type="text" placeholder="First Name" value="firstName">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name" value="lastName">
                </div>
                <div class="field">
                    <label>Email Address</label>
                    <input type="text" placeholder="Enter your email address" value="email">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="text" placeholder="Enter a new password">
                </div>
                <div class="field">
                    <label>Avatar</label>
                    <input type="file">
                </div>
                <div class="field">
                    <input type="submit" value="Enter CHATly">
                </div>
            </form>
            <div class="link">Returning User? <a href="#">Login</a></div>
        </section>
    </div>
</body>
</html>